{{/* Site header (logo, branding) - Mandatory partial */}}
<header class="site-header">
    <div class="container">
        <div class="header-content">
            <h1 class="site-logo">{{ if .server }}{{ if .server.Title }}{{ .server.Title }}{{ else }}Weather{{ end }}{{ else }}Weather{{ end }}</h1>
        </div>
    </div>
</header>
