Subject: {{tf .Lang "email.2fa_enabled.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting"}}

{{tf .Lang "email.2fa_enabled.intro" "app_name" .AppName}}

**{{t .Lang "email.2fa_enabled.details_heading"}}:**
- {{t .Lang "email.common.label_email"}}: {{.UserEmail}}
- {{t .Lang "email.2fa_enabled.label_enabled_at"}}: {{.Timestamp}}
- {{t .Lang "email.common.label_ip_address"}}: {{.IPAddress}}
- {{t .Lang "email.common.label_location"}}: {{.Location}}

{{t .Lang "email.2fa_enabled.more_secure_notice"}}

**{{t .Lang "email.2fa_enabled.tips_heading"}}:**
- {{t .Lang "email.2fa_enabled.tip_backup_codes"}}
- {{t .Lang "email.2fa_enabled.tip_dont_share"}}
- {{t .Lang "email.2fa_enabled.tip_lost_access"}}

**{{t .Lang "email.2fa_enabled.not_you_heading"}}**
{{t .Lang "email.2fa_enabled.not_you_notice"}}
1. {{t .Lang "email.2fa_enabled.followup_change_password"}}
2. {{tf .Lang "email.2fa_enabled.followup_contact" "admin_email" .AdminEmail}}
3. {{t .Lang "email.2fa_enabled.followup_review_activity"}}

{{t .Lang "email.2fa_enabled.thanks"}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}

{{t .Lang "email.2fa_enabled.security_questions"}} {{.AdminEmail}}
