Subject: {{tf .Lang "email.2fa_disabled.subject" "app_name" .AppName}}
---
{{t .Lang "email.2fa_disabled.alert_heading"}}

{{t .Lang "email.common.greeting"}}

{{tf .Lang "email.2fa_disabled.intro" "app_name" .AppName}}

**{{t .Lang "email.2fa_disabled.details_heading"}}:**
- {{t .Lang "email.common.label_email"}}: {{.UserEmail}}
- {{t .Lang "email.2fa_disabled.label_disabled_at"}}: {{.Timestamp}}
- {{t .Lang "email.common.label_ip_address"}}: {{.IPAddress}}
- {{t .Lang "email.common.label_location"}}: {{.Location}}

{{t .Lang "email.2fa_disabled.less_secure_notice"}}

**{{t .Lang "email.2fa_disabled.recommend_heading"}}:**
1. {{t .Lang "email.2fa_disabled.action_reenable"}}
2. {{t .Lang "email.2fa_disabled.action_strong_password"}}
3. {{t .Lang "email.2fa_disabled.action_review_settings"}}
4. {{t .Lang "email.2fa_disabled.action_change_password"}}

**{{t .Lang "email.2fa_disabled.not_you_heading"}}**
{{t .Lang "email.2fa_disabled.not_you_notice"}}
1. {{t .Lang "email.2fa_disabled.followup_change_password"}}
2. {{t .Lang "email.2fa_disabled.followup_reenable"}}
3. {{tf .Lang "email.2fa_disabled.followup_contact" "admin_email" .AdminEmail}}
4. {{t .Lang "email.2fa_disabled.followup_review_activity"}}

{{t .Lang "email.2fa_disabled.reenable_notice"}}
{{.AppURL}}/profile/security

{{t .Lang "email.2fa_disabled.stay_safe"}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}

{{t .Lang "email.2fa_disabled.immediate_assistance"}} {{.AdminEmail}}
