Subject: {{tf .Lang "email.account_disabled.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting"}}

{{tf .Lang "email.account_disabled.intro" "app_name" .AppName}}

**{{t .Lang "email.account_disabled.status_label"}}:** {{t .Lang "email.account_disabled.status_value"}}
**{{t .Lang "email.common.label_date"}}:** {{.DisableDate}}
**{{t .Lang "email.account_disabled.reason_label"}}:** {{.DisableReason}}

**{{t .Lang "email.account_disabled.what_this_means_heading"}}**

- {{t .Lang "email.account_disabled.effect_cannot_login"}}
- {{t .Lang "email.account_disabled.effect_data_preserved"}}
- {{t .Lang "email.account_disabled.effect_retention"}}

**{{t .Lang "email.account_disabled.why_heading"}}**

{{.DetailedReason}}

**{{t .Lang "email.account_disabled.reactivate_heading"}}**

{{.ReactivationInfo}}

**{{t .Lang "email.account_disabled.questions_heading"}}**

{{t .Lang "email.account_disabled.questions_notice"}}

{{t .Lang "email.common.label_email"}}: {{.SupportEmail}}
{{tf .Lang "email.account_disabled.subject_line" "username" .Username}}

**{{t .Lang "email.account_disabled.retention_heading"}}:**

{{tf .Lang "email.account_disabled.retention_notice" "days" .RetentionPeriodDays}}

**{{t .Lang "email.account_disabled.appeal_heading"}}:**

{{t .Lang "email.account_disabled.appeal_intro"}}
1. {{tf .Lang "email.account_disabled.appeal_step_contact" "support_email" .SupportEmail}}
2. {{tf .Lang "email.account_disabled.appeal_step_username" "username" .Username}}
3. {{t .Lang "email.account_disabled.appeal_step_info"}}

{{t .Lang "email.account_disabled.thanks_understanding"}}

{{.AppName}} {{t .Lang "email.account_disabled.team_suffix"}}

---
{{tf .Lang "email.common.footer_automated_notification" "app_name" .AppName}}
{{.AppURL}}

{{t .Lang "email.account_disabled.account_label"}}: {{.Username}}
{{t .Lang "email.common.label_date"}}: {{.NotificationDate}}
