Subject: {{tf .Lang "email.backup_failed.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting_admin"}}

**{{t .Lang "email.backup_failed.attention_label"}}:** {{tf .Lang "email.backup_failed.failed_notice" "app_name" .AppName}}

**{{t .Lang "email.backup_failed.details_heading"}}:**
- {{t .Lang "email.common.label_date"}}: {{.BackupDate}}
- {{t .Lang "email.common.label_time"}}: {{.BackupTime}}
- {{t .Lang "email.backup_failed.label_error"}}: {{.ErrorMessage}}
- {{t .Lang "email.backup_failed.label_attempt"}}: {{.AttemptNumber}}

**{{t .Lang "email.backup_failed.causes_heading"}}:**
- {{t .Lang "email.backup_failed.cause_disk_space"}}
- {{t .Lang "email.backup_failed.cause_permissions"}}
- {{t .Lang "email.backup_failed.cause_db_connection"}}
- {{t .Lang "email.backup_failed.cause_network"}}

**{{t .Lang "email.backup_failed.actions_heading"}}:**
1. {{t .Lang "email.backup_failed.action_check_logs"}}
2. {{t .Lang "email.backup_failed.action_check_disk"}}
3. {{t .Lang "email.backup_failed.action_check_db"}}
4. {{t .Lang "email.backup_failed.action_review_config"}}
5. {{t .Lang "email.backup_failed.action_manual_trigger"}}

**{{t .Lang "email.backup_failed.impact_heading"}}:**
{{t .Lang "email.backup_failed.impact_body"}}

{{t .Lang "email.backup_failed.help_notice"}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}
