Subject: {{tf .Lang "email.backup_complete.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting_admin"}}

{{tf .Lang "email.backup_complete.intro" "app_name" .AppName}}

**{{t .Lang "email.backup_complete.details_heading"}}:**
- {{t .Lang "email.common.label_date"}}: {{.BackupDate}}
- {{t .Lang "email.common.label_time"}}: {{.BackupTime}}
- {{t .Lang "email.backup_complete.label_file"}}: {{.BackupFilename}}
- {{t .Lang "email.backup_complete.label_size"}}: {{.BackupSize}}
- {{t .Lang "email.common.label_location"}}: {{.BackupLocation}}

**{{t .Lang "email.backup_complete.contents_heading"}}:**
- {{t .Lang "email.backup_complete.content_database"}}
- {{t .Lang "email.backup_complete.content_config"}}
- {{t .Lang "email.backup_complete.content_user_data"}}
- {{t .Lang "email.backup_complete.content_settings"}}

{{t .Lang "email.backup_complete.storage_notice"}}

**{{t .Lang "email.backup_complete.next_backup_label"}}:** {{.NextBackup}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}
