Subject: {{tf .Lang "email.breach_notification.subject" "app_name" .AppName}}
---
{{t .Lang "email.breach_notification.important_heading"}}

{{tf .Lang "email.breach_notification.dear_user" "app_name" .AppName}}

{{t .Lang "email.breach_notification.intro"}}

**{{t .Lang "email.breach_notification.what_happened_heading"}}:**

{{.BreachDescription}}

**{{t .Lang "email.breach_notification.affected_data_heading"}}:**

{{.AffectedData}}

**{{t .Lang "email.breach_notification.incident_date_heading"}}:**

{{.IncidentDate}}

**{{t .Lang "email.breach_notification.what_we_are_doing_heading"}}:**

{{.OurActions}}

**{{t .Lang "email.breach_notification.what_you_should_do_heading"}}:**

{{t .Lang "email.breach_notification.recommend_intro"}}

1. **{{t .Lang "email.breach_notification.action_change_password"}}:**
   {{.PasswordResetURL}}

2. **{{t .Lang "email.breach_notification.action_enable_2fa"}}:**
   {{.TwoFactorSetupURL}}

3. **{{t .Lang "email.breach_notification.action_review_activity"}}:**
   {{.ActivityURL}}

4. **{{t .Lang "email.breach_notification.action_monitor"}}:**
   - {{t .Lang "email.breach_notification.monitor_logins"}}
   - {{t .Lang "email.breach_notification.monitor_phishing"}}
   - {{t .Lang "email.breach_notification.monitor_connected_services"}}

5. **{{t .Lang "email.breach_notification.action_update_other_passwords"}}:**
   {{t .Lang "email.breach_notification.action_update_other_passwords_detail"}}

**{{t .Lang "email.breach_notification.resources_heading"}}:**

- {{t .Lang "email.breach_notification.resource_report"}}: {{.IncidentReportURL}}
- {{t .Lang "email.breach_notification.resource_guide"}}: {{.SecurityGuideURL}}
- {{t .Lang "email.breach_notification.resource_support"}}: {{.SupportEmail}}

{{tf .Lang "email.breach_notification.apology" "app_name" .AppName}}

**{{t .Lang "email.breach_notification.questions_heading"}}**

{{t .Lang "email.breach_notification.questions_body"}}
{{.SupportEmail}}

{{tf .Lang "email.breach_notification.closing_thanks" "app_name" .AppName}}

{{t .Lang "email.breach_notification.signoff_team"}}
{{.AppName}}

---
{{tf .Lang "email.common.footer_official_notification" "app_name" .AppName}}
{{.AppURL}}

{{t .Lang "email.breach_notification.incident_reference"}}: {{.IncidentID}}
{{t .Lang "email.breach_notification.notification_date"}}: {{.NotificationDate}}
