Subject: {{tf .Lang "email.email_verify.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting"}}

{{tf .Lang "email.email_verify.intro" "app_name" .AppName}}

**{{t .Lang "email.email_verify.verify_link_label"}}:**
{{.VerifyLink}}

{{tf .Lang "email.email_verify.expiry_notice" "hours" .VerifyExpiryHours}}

{{t .Lang "email.email_verify.benefits_intro"}}
- {{t .Lang "email.email_verify.benefit_dashboard"}}
- {{t .Lang "email.email_verify.benefit_alerts"}}
- {{t .Lang "email.email_verify.benefit_notifications"}}
- {{t .Lang "email.email_verify.benefit_forecasts"}}

{{tf .Lang "email.email_verify.ignore_notice" "app_name" .AppName}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}

{{t .Lang "email.email_verify.trouble_clicking"}}
{{.VerifyLink}}
