Subject: {{tf .Lang "email.login_alert.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting"}}

{{tf .Lang "email.login_alert.intro" "app_name" .AppName}}

**{{t .Lang "email.login_alert.details_heading"}}:**
- {{t .Lang "email.common.label_date"}}: {{.LoginDate}}
- {{t .Lang "email.common.label_time"}}: {{.LoginTime}}
- {{t .Lang "email.common.label_location"}}: {{.LoginLocation}}
- {{t .Lang "email.common.label_ip_address"}}: {{.LoginIP}}
- {{t .Lang "email.common.label_device"}}: {{.DeviceInfo}}
- {{t .Lang "email.common.label_browser"}}: {{.BrowserInfo}}

**{{t .Lang "email.login_alert.was_this_you_heading"}}**
{{t .Lang "email.login_alert.recognized_notice"}}

**{{t .Lang "email.login_alert.not_recognized_heading"}}**
{{t .Lang "email.login_alert.not_recognized_notice"}}

1. {{t .Lang "email.login_alert.action_change_password"}}
2. {{t .Lang "email.login_alert.action_review_activity"}}
3. {{t .Lang "email.login_alert.action_enable_2fa"}}
4. {{t .Lang "email.login_alert.action_logout_sessions"}}
5. {{t .Lang "email.login_alert.action_contact_support"}}

**{{t .Lang "email.login_alert.tips_heading"}}:**
- {{t .Lang "email.login_alert.tip_strong_password"}}
- {{t .Lang "email.login_alert.tip_never_share"}}
- {{t .Lang "email.login_alert.tip_phishing"}}
- {{t .Lang "email.login_alert.tip_secure_devices"}}
- {{t .Lang "email.login_alert.tip_enable_2fa"}}

{{t .Lang "email.login_alert.review_settings_notice"}}
{{.AccountSecurityURL}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}
