Subject: {{tf .Lang "email.mfa_reminder.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting"}}

{{tf .Lang "email.mfa_reminder.intro" "app_name" .AppName}}

**{{t .Lang "email.mfa_reminder.why_heading"}}**

{{t .Lang "email.mfa_reminder.why_body"}}

**{{t .Lang "email.mfa_reminder.setup_heading"}}**

{{t .Lang "email.mfa_reminder.setup_body"}}
{{.SetupURL}}

**{{t .Lang "email.mfa_reminder.options_heading"}}**
- {{t .Lang "email.mfa_reminder.option_totp"}}
- {{t .Lang "email.mfa_reminder.option_recovery_codes"}}

**{{t .Lang "email.mfa_reminder.dismiss_heading"}}**

{{t .Lang "email.mfa_reminder.dismiss_body"}}
{{.DismissURL}}

{{tf .Lang "email.mfa_reminder.thanks" "app_name" .AppName}}

---
{{tf .Lang "email.common.footer_automated_reminder" "app_name" .AppName}}
{{.AppURL}}

{{t .Lang "email.mfa_reminder.frequency_note"}}
