Subject: {{tf .Lang "email.password_changed.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting"}}

{{tf .Lang "email.password_changed.intro" "app_name" .AppName}}

**{{t .Lang "email.password_changed.details_heading"}}:**
- {{t .Lang "email.password_changed.label_changed_at"}}: {{.Timestamp}}
- {{t .Lang "email.common.label_ip_address"}}: {{.IPAddress}}
- {{t .Lang "email.common.label_location"}}: {{.Location}}
- {{t .Lang "email.common.label_device"}}: {{.UserAgent}}

{{t .Lang "email.password_changed.confirm_notice"}}

**{{t .Lang "email.password_changed.not_you_heading"}}**
{{t .Lang "email.password_changed.not_you_notice"}}

1. **{{t .Lang "email.password_changed.action_reset_now"}}**
   {{.ResetLink}}

2. **{{t .Lang "email.password_changed.action_review_activity"}}**

3. **{{t .Lang "email.password_changed.action_enable_2fa"}}**
   {{.AppURL}}/profile/security

4. **{{t .Lang "email.password_changed.action_contact_us"}}**
   {{.AdminEmail}}

**{{t .Lang "email.password_changed.best_practices_heading"}}:**
- {{t .Lang "email.password_changed.tip_strong_password"}}
- {{t .Lang "email.password_changed.tip_enable_2fa"}}
- {{t .Lang "email.password_changed.tip_never_share"}}
- {{t .Lang "email.password_changed.tip_phishing"}}
- {{t .Lang "email.password_changed.tip_secure_email"}}

{{t .Lang "email.password_changed.concerns_notice"}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}

{{t .Lang "email.password_changed.security_assistance"}} {{.AdminEmail}}
