Subject: {{tf .Lang "email.password_reset.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting"}}

{{tf .Lang "email.password_reset.intro" "app_name" .AppName}}

**{{t .Lang "email.password_reset.reset_link_label"}}:**
{{.ResetLink}}

{{tf .Lang "email.password_reset.expiry_notice" "hours" .ResetExpiryHours}}

{{t .Lang "email.password_reset.ignore_notice"}}

{{t .Lang "email.password_reset.security_recommendation_heading"}}
- {{t .Lang "email.password_reset.tip_strong_password"}}
- {{t .Lang "email.password_reset.tip_enable_2fa"}}
- {{t .Lang "email.password_reset.tip_never_share"}}

{{t .Lang "email.password_reset.concerns_notice"}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}
