Subject: {{tf .Lang "email.scheduler_error.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting_admin"}}

{{tf .Lang "email.scheduler_error.intro" "app_name" .AppName}}

**{{t .Lang "email.scheduler_error.task_details_heading"}}:**
- {{t .Lang "email.scheduler_error.label_task_name"}}: {{.TaskName}}
- {{t .Lang "email.scheduler_error.label_description"}}: {{.TaskDescription}}
- {{t .Lang "email.scheduler_error.label_scheduled_time"}}: {{.ScheduledTime}}
- {{t .Lang "email.scheduler_error.label_run_time"}}: {{.RunTime}}
- {{t .Lang "email.scheduler_error.label_status"}}: {{t .Lang "email.scheduler_error.status_failed"}}

**{{t .Lang "email.scheduler_error.error_info_heading"}}:**
{{.ErrorMessage}}

**{{t .Lang "email.scheduler_error.error_details_heading"}}:**
{{.ErrorDetails}}

**{{t .Lang "email.scheduler_error.task_config_heading"}}:**
- {{t .Lang "email.scheduler_error.label_schedule"}}: {{.TaskSchedule}}
- {{t .Lang "email.scheduler_error.label_last_success"}}: {{.LastSuccess}}
- {{t .Lang "email.scheduler_error.label_consecutive_failures"}}: {{.FailureCount}}
- {{t .Lang "email.scheduler_error.label_next_run"}}: {{.NextRun}}

**{{t .Lang "email.scheduler_error.impact_heading"}}:**
{{.ImpactDescription}}

**{{t .Lang "email.scheduler_error.actions_heading"}}:**
1. {{t .Lang "email.scheduler_error.action_review_error"}}
2. {{t .Lang "email.scheduler_error.action_check_resources"}}
3. {{t .Lang "email.scheduler_error.action_verify_config"}}
4. {{t .Lang "email.scheduler_error.action_manual_trigger"}}
5. {{t .Lang "email.scheduler_error.action_update_schedule"}}

**{{t .Lang "email.scheduler_error.view_details_heading"}}:**
{{.TaskURL}}

**{{t .Lang "email.scheduler_error.common_causes_heading"}}:**
- {{t .Lang "email.scheduler_error.cause_resources"}}
- {{t .Lang "email.scheduler_error.cause_network"}}
- {{t .Lang "email.scheduler_error.cause_db_connection"}}
- {{t .Lang "email.scheduler_error.cause_config"}}
- {{t .Lang "email.scheduler_error.cause_external_service"}}

{{t .Lang "email.scheduler_error.persist_notice"}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}
