Subject: {{tf .Lang "email.ssl_expiring.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting_admin"}}

{{tf .Lang "email.ssl_expiring.intro" "app_name" .AppName}}

**{{t .Lang "email.ssl_expiring.details_heading"}}:**
- {{t .Lang "email.common.label_domain"}}: {{.Domain}}
- {{t .Lang "email.ssl_expiring.label_expires"}}: {{.ExpiryDate}}
- {{t .Lang "email.ssl_expiring.label_days_remaining"}}: {{.DaysRemaining}}
- {{t .Lang "email.ssl_expiring.label_issuer"}}: {{.Issuer}}

**{{t .Lang "email.ssl_expiring.action_required_heading"}}:**
{{tf .Lang "email.ssl_expiring.action_required_body" "app_name" .AppName}}

**{{t .Lang "email.ssl_expiring.options_heading"}}:**
1. **{{t .Lang "email.ssl_expiring.option_auto_heading"}}:**
   - {{t .Lang "email.ssl_expiring.option_auto_step1"}}
   - {{t .Lang "email.ssl_expiring.option_auto_step2"}}
   - {{t .Lang "email.ssl_expiring.option_auto_step3"}}

2. **{{t .Lang "email.ssl_expiring.option_manual_heading"}}:**
   - {{t .Lang "email.ssl_expiring.option_manual_step1"}}
   - {{t .Lang "email.ssl_expiring.option_manual_step2"}}
   - {{tf .Lang "email.ssl_expiring.option_manual_step3" "app_name" .AppName}}

**{{t .Lang "email.ssl_expiring.what_happens_heading"}}:**
- {{t .Lang "email.ssl_expiring.effect_warnings"}}
- {{t .Lang "email.ssl_expiring.effect_https_fails"}}
- {{t .Lang "email.ssl_expiring.effect_users_blocked"}}
- {{t .Lang "email.ssl_expiring.effect_tor_unaffected"}}

{{tf .Lang "email.ssl_expiring.renew_before" "expiry_date" .ExpiryDate}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}
