Subject: {{tf .Lang "email.ssl_renewed.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting_admin"}}

{{tf .Lang "email.ssl_renewed.intro" "app_name" .AppName}}

**{{t .Lang "email.ssl_renewed.details_heading"}}:**
- {{t .Lang "email.common.label_domain"}}: {{.Domain}}
- {{t .Lang "email.ssl_renewed.label_issued"}}: {{.IssueDate}}
- {{t .Lang "email.ssl_expiring.label_expires"}}: {{.ExpiryDate}}
- {{t .Lang "email.ssl_renewed.label_valid_for"}}: {{tf .Lang "email.ssl_renewed.days_suffix" "days" .ValidityDays}}
- {{t .Lang "email.ssl_expiring.label_issuer"}}: {{.Issuer}}

{{t .Lang "email.ssl_renewed.continuity_notice"}}

**{{t .Lang "email.ssl_renewed.cert_info_heading"}}:**
- {{t .Lang "email.ssl_renewed.label_previous_expiry"}}: {{.OldExpiryDate}}
- {{t .Lang "email.ssl_renewed.label_new_expiry"}}: {{.ExpiryDate}}
- {{t .Lang "email.ssl_renewed.label_method"}}: {{.RenewalMethod}}

**{{t .Lang "email.ssl_renewed.next_steps_heading"}}:**
- {{t .Lang "email.ssl_renewed.no_action_required"}}
- {{t .Lang "email.ssl_renewed.next_reminder"}}: {{.NextReminderDate}}

{{t .Lang "email.ssl_renewed.visitor_notice"}}

{{tf .Lang "email.ssl_renewed.thanks" "app_name" .AppName}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}
