Subject: {{tf .Lang "email.test.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting_exclaim"}}

{{t .Lang "email.test.intro"}}

**{{t .Lang "email.test.status_heading"}}:**
{{t .Lang "email.test.status_smtp_ok"}}
{{t .Lang "email.test.status_auth_ok"}}
{{t .Lang "email.test.status_delivery_ok"}}

**{{t .Lang "email.test.config_details_heading"}}:**
- {{t .Lang "email.test.label_smtp_server"}}: {{.SMTPHost}}
- {{t .Lang "email.test.label_port"}}: {{.SMTPPort}}
- {{t .Lang "email.test.label_security"}}: {{.SMTPSecurity}}
- {{t .Lang "email.test.label_from_address"}}: {{.FromAddress}}
- {{t .Lang "email.test.label_sent_at"}}: {{.SentTime}}

**{{t .Lang "email.test.variables_heading"}}:**
{{t .Lang "email.test.variables_intro"}}
- {{t .Lang "email.test.var_app_name"}}: {{.AppName}}
- {{t .Lang "email.test.var_app_url"}}: {{.AppURL}}
- {{t .Lang "email.test.var_current_time"}}: {{.CurrentTime}}
- {{t .Lang "email.test.var_version"}}: {{.Version}}

{{tf .Lang "email.test.success_notice" "app_name" .AppName}}

**{{t .Lang "email.test.need_help_heading"}}**
- {{t .Lang "email.test.help_review_settings"}}
- {{t .Lang "email.test.help_check_logs"}}
- {{t .Lang "email.test.help_provider_settings"}}
- {{t .Lang "email.test.help_documentation"}}

---
{{tf .Lang "email.common.footer_test" "app_name" .AppName}}
{{.AppURL}}
