Subject: {{tf .Lang "email.user_invite.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting_exclaim"}}

{{tf .Lang "email.user_invite.intro" "app_name" .AppName}}

**{{t .Lang "email.user_invite.accept_heading"}}:**

{{t .Lang "email.user_invite.accept_body"}}
{{.InviteURL}}

{{tf .Lang "email.user_invite.expiry_notice" "minutes" .MinutesRemaining}}

**{{t .Lang "email.user_invite.what_you_can_do_heading"}}:**

- {{t .Lang "email.user_invite.feature_conditions"}}
- {{t .Lang "email.user_invite.feature_forecasts"}}
- {{t .Lang "email.user_invite.feature_alerts"}}
- {{t .Lang "email.user_invite.feature_history"}}
- {{t .Lang "email.user_invite.feature_preferences"}}

{{tf .Lang "email.user_invite.closing" "app_name" .AppName}}

{{.AppName}} {{t .Lang "email.account_disabled.team_suffix"}}

---
{{tf .Lang "email.user_invite.footer_sent_by" "expires_at" .ExpiresAt}}

{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}
