Subject: {{tf .Lang "email.welcome.subject" "app_name" .AppName}}
---
{{t .Lang "email.common.greeting_exclaim"}}

{{tf .Lang "email.welcome.intro" "app_name" .AppName}}

{{t .Lang "email.welcome.dashboard_intro"}}
{{.AppURL}}

**{{t .Lang "email.welcome.getting_started_heading"}}:**
- {{t .Lang "email.welcome.step_add_locations"}}
- {{t .Lang "email.welcome.step_enable_alerts"}}
- {{t .Lang "email.welcome.step_customize_notifications"}}
- {{t .Lang "email.welcome.step_explore_forecasts"}}

{{t .Lang "email.welcome.contact_notice"}}

{{tf .Lang "email.welcome.thanks" "app_name" .AppName}}

---
{{tf .Lang "email.common.footer_automated" "app_name" .AppName}}
{{.AppURL}}
